.img-container > img {
  width: 100%;
}

@media screen and (min-width: 442px) {
  .post-item {
    flex-grow: 1;
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 664px) {
  .post-item {
    flex-grow: 0;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
